body {
  font-family: "Arial", sans-serif;
  background-color: #d41cc5; /* Fondo oscuro */
  color: #131212; /* Texto blanco */
  margin: 0;
  padding: 0;
}

.container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: #9aa2fc; /* Contenedor oscuro */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #02193f; /* Color ámbar para el título */
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #444; /* Borde gris oscuro */
  border-radius: 4px;
  background-color: #2a2a2a; /* Fondo de campos de entrada */
  color: #ffffff; /* Texto blanco en los campos */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #888; /* Placeholder gris claro */
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #02193f; /* Rojo brillante para el botón */
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #9baef2; /* Rojo más oscuro al pasar el ratón */
}

a {
  display: block;
  margin-top: 10px;
  color: #3498db; /* Azul para el enlace */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: white;
  padding: 15px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
}

header {
  text-align: center;
  padding: 20px;
}

#carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  width: 100%;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  min-width: 100%;
}

#brands,
#products {
  text-align: center;
  padding: 20px;
}

.brands-container {
  display: flex;
  justify-content: center;
}

.brand {
  margin: 0 15px;
}

.brand img {
  width: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.product-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 200px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.availability {
  margin-top: 10px;
  font-weight: bold;
}

.available {
  color: green;
}

.out-of-stock {
  color: red;
}
